
.working-page__header {
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 50px;
    background: #BEFFC9;
    text-transform: uppercase;
    color: #322D2D;
    margin: 0;
    padding: 11px 110px 11px 79px;
}

.working-page__title {
    margin: 0;
}

.working-page__date {
    font-weight: bold;
    font-size: 24px;
    margin-left: 5px;
}

.working-page__btn--settings {

}

.settings {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}
.language-menu {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

.settings li {
}